/* REGLAGES GLOBAUX */
*{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: normal;
    font-family: 'Raleway';
    color: black;
}

body {
    /* max-width: 1440px; */
    margin: 0 auto;
}

h1 {
    font-size: 1.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, button:hover{
    cursor: pointer;
}

/* REGLAGES - HEADER */
.logo img {
    margin-top: -6px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.element {
    display: flex;
}

.element a {
    display: flex;
    align-items: center;
}

.navBar {
    width: 100%;
    padding: 12.5px;
}

.rightNav {
    flex: 1;
    width: 100%;
    justify-content: center;
}

.rightNav a {
    color: #0065FC;
    font-weight: bold;
    padding: 13px;
}

.leftNav {
    flex: 3;
}

/* REGLAGES - FLEXBOX HEBERGEMENTS ET ACTIVITES */
header .element:nth-child(2)
{
    order: 3;
}
.movingNav {
    width: 100%;
}

.movingNav a {
    width: 100%;
    padding: 13px;
    justify-content: center;
    border-bottom: 3px solid #f2f2f2;
}

.movingNav a:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
}

.movingNav a:active {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
}

/* REGLAGES - SECTION */
section {
    padding: 25px 5%;
}

section > * {
    padding: 5px 0;
}

#populaires {
    background-color: #f2f2f2;
}

/* REGLAGES - RECHERCHE */
.search {
    display: flex;
    margin: 20px 0;
}

.search i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.2em;
}

.fa-map-marker-alt {
    min-width: 50px;
    max-width: 50px;
    background: #f2f2f2;
    border-radius: 30% 0 0 30%;
}
  
.searchBar {
    width: 75%;
    height: 50px;
    border: 1px solid #f2f2f2;
    font-size: 1em;
    padding-left: 5%;
}

.searchBar:focus, .searchBar:hover{
    font-weight: bold;
    color: black;
}

.searchButton {
    min-width: 50px;
    max-width: 50px;
    margin-left: -10px;
    border-radius: 30%;
    background-color: #0065FC;
    color: #fff;
    cursor: pointer;
}

.searchButton span{
    display: none;
}

.searchButton i{color:white;}

/* REGLAGES - FILTRES */
 #searchEngine .container {
    width: 100%;
    margin:0;
    padding:0; 
    justify-content: space-between;
}

.filtre {
    margin: 6px 0px;
    width: 100%;
}

.filtre:hover > p {
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    color: #0065fc;
}

.filtre:hover > i {
    background-color: #DEEBFF;
    color: #0065fc;
}

.filtre i{
    background-color: #DEEBFF;
    border-radius: 50%;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    z-index: 1;
    font-size: 1.2em;
}

.filtre p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 55px;
    margin-left: -46px;
    height: 46px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    font-weight: bold;
}

/* REGLAGES - INFO */
.info {
    display: flex;
    margin: 15px 0 0 0;
}

.info i{
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    font-size: 0.65em;
}

.info p {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REGLAGES - CARTE */
.card {
    display: flex;
    margin: 10px auto;
    width: 100%;
    min-width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #d2d2d2;
}

.card:hover {
    box-shadow: 0px 0px 20px  #b6b5b5;
}

.photo {
    width: 45%;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.description {
    position: relative;
    width: 55%;
    padding: 20px;
    border-radius: 0 15px 15px 0;
}

.description p {
    line-height: 2;
}

.rating {
    position: absolute;
    bottom: 12px;
}

.rating i {
    font-size: 0.8em;
    color: #0065FC;
}

.rating .grey {
    color: #d2d2d2;
}

/* REGLAGES - BLOCK POPULAIRES HEBERGEMENT */
.blockPopHeb {
    margin: 0;
    padding: 0;
    border: 0;
}

.blockPopHeb .titre{
    margin: 10px auto 15px;
}

/* REGLAGES - CARTE POPULAIRES */
#populaires {
    padding: 20px 5%;
}

#populaires .element {
    width: 100%;
    justify-content: space-between;
}

.fa-chart-line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.populaire img {
    border-radius: 15px 0 0 15px;
}

/* REGLAGES - CARTE HEBERGEMENT */
#hebergements {
    padding: 20px 5%;
}

.hebergement {
    height: 200px;
    width: 100%;
    flex-wrap: wrap;
}

#hebergements .container, #hebergements .titre {
    padding: 0;
}

.hebergement .element {
    width: 100%;
    flex-wrap: wrap;
}

.hebergement .photo {
    min-width: 100%;
    height: 115px;
}

.hebergement .photo img {
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
    overflow: hidden;
}

.hebergement .description {
    width:100%;
    height:auto;
    padding: 10px;
}

.hebergement .rating {
    position: relative;
    margin: 10px auto;
}
/* REGLAGES - MORE */
.more {
    margin: 35px auto 0px;
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
}


/* REGLAGES - CARTE ACTIVITES */
#activites .container {
    height: auto;
    margin: 0;
}

.card.activites {
    height: 190px;
    width: 100%;
    padding: 0px;
    margin: 20px auto 0px;
    flex-direction: column;
}

.activites .photo {
    width: 100%;
    height: 140px;
    border-radius: 0;
}

.activites .description {
    width: 100%;
    height: auto;
}

.firstPart{
    width: 100%;
    height: 100%;
}

.secondPart {
    display: flex;
    align-self: flex-end;
    align-content: end;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 50px;    
}

.secondPart h4{
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}


/* FOOTER */
footer {
    background-color: #f2f2f2;
    padding: 30px 30px;
}

.footerBlock {
    width: 100%;
    height: auto;
}

footer li {
    line-height: 2;
}

footer h4 {
    margin: 15px 0px;
}



@media only screen and (min-width: 1400px) {
body {max-width: 1440px;}
/* REGLAGES - HEADER */
.navBar {
    width: 100%;
    padding: 0px 50px;
}

.rightNav {
    flex: 0;
}
.rightNav {
    width: 20%;
    height: 79px;
}

.leftNav {
    flex: 3;
}

/* REGLAGES - FLEXBOX HEBERGEMENTS ET ACTIVITES */
header .element:nth-child(3)
{
    order: 3;
}

.movingNav {
    width: 20%;
    height: 79px;
}

.movingNav a {
    border: none;
}

.movingNav a:hover, .movingNav a:active {
    border-top: 3px solid #0065FC;
    border-bottom: none;
}


/* REGLAGES - SECTION */
section {
    margin: 0 50px;
    padding: 25px 0px;
}

.blockPopHeb .titre {
    margin: 40px 0px 10px 40px;
}

.titre {
    margin: 50px 0 30px 0;
}

.fa-chart-line {
    padding-right: 80px;
}

/* REGLAGES - RECHERCHE */
.search {
    width: 420px;
}

.searchButton {
    min-width: 135px;
    margin-left: -10px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: #fff;
    cursor: pointer;
}

.searchButton i {
    display: none;
}

.searchButton span {
    display: inline;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

/* REGLAGES - FILTRES */
 #searchEngine .container {
    width: 100%;
    margin:0;
    padding:0; 
    justify-content: flex-start;
}

#searchEngine .element:nth-child(1){
    width: 5%;
}

.filtre {
    margin-right: 25px;
}
/* REGLAGES - BLOCK POPULAIRE HEBERGEMENT */
.blockPopHeb{
    margin: 0 50px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

/* REGLAGES - CARTE POPULAIRES */
#populaires {
    border-radius: 15px;
    width: 420px;
    order: 2;
    padding: 0 0 20px 0;
    margin: 0;
}

#populaires .container {
    padding: 0;
}

#populaires .card {
    width: 345px;
    height: 145px;
    padding: 5px;
    margin: 15px 0;
}

#populaires .element {
    width: 100%;
    justify-content: space-between;
}

.populaire .photo {
    width: 135px;
}
.populaire img {
    width: 100%;
}

.populaire .description {
    width: 210px;
}

.populaire .description > * {
    padding-left: 20px;
}
.populaire .description h4{
    padding-top: 10px;
    padding-right: 25px;
}

.populaire .rating {
    position: absolute;
    bottom: 15px;
}

/* REGLAGES - CARTE HEBERGEMENT */
#hebergements {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 880px;
    margin: 0;
    padding: 0px 0px 20px 0;
}

#hebergements .container{
    max-width: 100%;
    height: auto;
    margin: 0px 10px;
    padding: 0;
    justify-content: space-between;
}

#hebergements .card {
    padding: 5px;
}

#hebergements .more {
    margin: 0 0 0 40px;
    height: 100%;
    align-self: flex-start;
}

.hebergement {
    width: 245px;
    height: 200px;
    padding: 0;
    margin: 15px ;
}

.hebergement .description {
    height: 80px;
}

.hebergement .description h4{
    padding: 10px 0 0 10px;
}

.hebergement .description p{
    padding-left: 10px;
}

.rating {
    position: relative;
    padding-left: 10px;
}

/* REGLAGES - CARTE ACTIVITES */
#activites .container {
    width: 100%;
    height: 445px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.card.activites {
    width: 300px;
    margin: 0;
    padding: 0;
}

.card.big {
    height: 100%;
}

.big .photo {
    height: 100%;
}

.card.medium {
    height: 45%;
}

.medium .photo{
    height: 145px;
}

.card.small {
    height: auto;
}

.firstPart{
    width: 100%;
    height: 100%;
}

.secondPart {
    display: flex;
    align-self: end; 
    height: 55px;
    max-width: inherit;
    border-radius: 0  0 15px 15px;
    background-color: white;
}

.card .description {
    padding: 0;
    height: inherit;
}

.secondPart h4{
    margin-left: 20px;
    align-items: center;
}

/* FOOTER */

.footerBlock {
    height: 150px;
    width: 30%;
    justify-content: space-between;
    margin: 10px auto 15px
}
}
